**SC62614_Indra Fiqi Ripani_Foundation for Data Science_Kompi 26_Peer Group 2**

### **Mount Google Drive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### **Impor Data Excel Google Sheet**

In [26]:
import pandas as pd

excel_path = '/content/drive/MyDrive/GoogleColab/df_26.xlsx'

# Membaca data Excel ke dalam DataFrame Pandas
df = pd.read_excel(excel_path)

# Menampilkan baris pertama dari DataFrame
df.head()

,No Peserta,Nama,Jurusan,Berat Badan (kg),Tinggi Badan (cm)
0,SC62601,Amalia Ika Sriyani,Fisika,55,161
1,SC62602,Bramastra Dhani Haryatmaja,Business Management,79,175
2,SC62603,Dwi Septiana,Matematika,43,150
3,SC62604,Gebby Yurike,Manajemen,43,150
4,SC62605,Juwita Istiqomah Trahira,Sistem Informasi,70,163

In [27]:
# Menampilkan baris terakhir dari DataFrame
df.tail()

,No Peserta,Nama,Jurusan,Berat Badan (kg),Tinggi Badan (cm)
20,SC62621,Humaira Rizqi Tridianti,Matematika,53,161
21,SC62622,Muhammad Ibnu Bayu Aji,Statistika,90,180
22,SC62623,Putri Dwi Kartini,Akuntansi,53,162
23,SC62624,Sutriadi Kurniawan,Matematika,52,162
24,SC62625,Camelia,Manajemen,48,163

### **SOAL 1**

### **1 Informasi Terkait Dataset 'df_26.xlsx'**

1. Identifikasi dan jelaskan tipe data apa saja yang ada pada dataframe, ada berapa kolom dan baris, serta informasi apa saja yang terkandung dalam data tersebut?

In [ ]:
print("Tipe Data Kolom:")
print(df.dtypes)

jumlah_baris, jumlah_kolom = df.shape
print(f"\nJumlah Baris : {jumlah_baris}")
print(f"Jumlah Kolom : {jumlah_kolom}")

print("\nInformasi DataFrame:")
print(df.info())

Tipe Data Kolom:
No Peserta           object
Nama                 object
Jurusan              object
Berat Badan (kg)      int64
Tinggi Badan (cm)     int64
dtype: object

Jumlah Baris : 25
Jumlah Kolom : 5

Informasi DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No Peserta         25 non-null     object
 1   Nama               25 non-null     object
 2   Jurusan            25 non-null     object
 3   Berat Badan (kg)   25 non-null     int64
 4   Tinggi Badan (cm)  25 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1.1+ KB
None

### **2, 3, 4 Menghitung BMI Setiap Orang dan Menambahnya ke Dalam DataFrame**

2. Hitunglah BMI setiap siswa dengan rumus BMI=Berat badan (kg)(Tinggi Badan (m))2
3. Buatlah program untuk menghitung BMI!
4. Update dataframe df dengan menambahkan hasil perhitungan soal nomor 2, beri nama kolom BMI.

In [ ]:
# Konversi satuan tinggi badan dari cm ke m
df['Tinggi Badan (m)'] = df['Tinggi Badan (cm)'] / 100

# Menghitung BMI untuk setiap orang
df['BMI'] = df['Berat Badan (kg)'] / (df['Tinggi Badan (m)'] ** 2)
df['BMI'] = df['BMI'].round(3)

# Menampilkan DataFrame dengan kolom BMI
print(df[['No Peserta', 'Nama', 'Berat Badan (kg)', 'Tinggi Badan (m)', 'BMI']].to_string(index=False))

No Peserta                                 Nama  Berat Badan (kg)  Tinggi Badan (m)    BMI
   SC62601                   Amalia Ika Sriyani                55              1.61 21.218
   SC62602           Bramastra Dhani Haryatmaja                79              1.75 25.796
   SC62603                         Dwi Septiana                43              1.50 19.111
   SC62604                         Gebby Yurike                43              1.50 19.111
   SC62605             Juwita Istiqomah Trahira                70              1.63 26.346
   SC62606              Meyroja Jovancha Firoos                49              1.55 20.395
   SC62607                Muhammad Rizki Shihab                65              1.70 22.491
   SC62608                   Nurhammasa Khalila                45              1.45 21.403
   SC62609                        Raymon Sonata                65              1.72 21.971
   SC62610    Subhan Hidayatullah Putra Abraham                63              1.73 21.050
   SC62611                 Yusmaniar Afifah Nur                38              1.42 18.845
   SC62612         Arvano Salma Fatimatus Zahra                50              1.55 20.812
   SC62613             Emmanuela Putri Larasati                48              1.53 20.505
   SC62614                    Indra Fiqi Ripani                70              1.65 25.712
   SC62615      Miftakhul Hidayatullah As Sidqi                45              1.76 14.527
   SC62616 Ni Putu Sri Agnita Samyami Wiraputri                50              1.54 21.083
   SC62617                        Rifqi Mubarok                60              1.64 22.308
   SC62618                 Wisesa Sat Sunyaruri                70              1.74 23.121
   SC62619                      Anisatun Nikmah                43              1.52 18.611
   SC62620                          Dela Nopita                42              1.50 18.667
   SC62621              Humaira Rizqi Tridianti                53              1.61 20.447
   SC62622               Muhammad Ibnu Bayu Aji                90              1.80 27.778
   SC62623                    Putri Dwi Kartini                53              1.62 20.195
   SC62624                   Sutriadi Kurniawan                52              1.62 19.814
   SC62625                              Camelia                48              1.63 18.066

### **5 Menentukan Status BMI Setiap Orang**

5. Buatlah status BMI untuk setiap siswa dari kategori berikut, lalu simpan data statusnya dengan nama kolom Status BMI.

>  
*   Normal: 18.5-24.9
*   Overweight: 25.0-29.9
*   Obesity: 30.0-34.9
*   Underweight: < 18.5

In [ ]:
# Menentukan status BMI
df['Status BMI'] = pd.cut(df['BMI'], bins=[0, 18.5, 24.9, 29.9, float('inf')], labels=['Underweight', 'Normal', 'Overweight', 'Obesity'], right=False)

# Menampilkan DataFrame dengan kolom "Status BMI"
print(df[['No Peserta', 'Nama', 'Berat Badan (kg)', 'Tinggi Badan (m)', 'BMI', 'Status BMI']].to_string(index=False))

No Peserta                                 Nama  Berat Badan (kg)  Tinggi Badan (m)    BMI  Status BMI
   SC62601                   Amalia Ika Sriyani                55              1.61 21.218      Normal
   SC62602           Bramastra Dhani Haryatmaja                79              1.75 25.796  Overweight
   SC62603                         Dwi Septiana                43              1.50 19.111      Normal
   SC62604                         Gebby Yurike                43              1.50 19.111      Normal
   SC62605             Juwita Istiqomah Trahira                70              1.63 26.346  Overweight
   SC62606              Meyroja Jovancha Firoos                49              1.55 20.395      Normal
   SC62607                Muhammad Rizki Shihab                65              1.70 22.491      Normal
   SC62608                   Nurhammasa Khalila                45              1.45 21.403      Normal
   SC62609                        Raymon Sonata                65              1.72 21.971      Normal
   SC62610    Subhan Hidayatullah Putra Abraham                63              1.73 21.050      Normal
   SC62611                 Yusmaniar Afifah Nur                38              1.42 18.845      Normal
   SC62612         Arvano Salma Fatimatus Zahra                50              1.55 20.812      Normal
   SC62613             Emmanuela Putri Larasati                48              1.53 20.505      Normal
   SC62614                    Indra Fiqi Ripani                70              1.65 25.712  Overweight
   SC62615      Miftakhul Hidayatullah As Sidqi                45              1.76 14.527 Underweight
   SC62616 Ni Putu Sri Agnita Samyami Wiraputri                50              1.54 21.083      Normal
   SC62617                        Rifqi Mubarok                60              1.64 22.308      Normal
   SC62618                 Wisesa Sat Sunyaruri                70              1.74 23.121      Normal
   SC62619                      Anisatun Nikmah                43              1.52 18.611      Normal
   SC62620                          Dela Nopita                42              1.50 18.667      Normal
   SC62621              Humaira Rizqi Tridianti                53              1.61 20.447      Normal
   SC62622               Muhammad Ibnu Bayu Aji                90              1.80 27.778  Overweight
   SC62623                    Putri Dwi Kartini                53              1.62 20.195      Normal
   SC62624                   Sutriadi Kurniawan                52              1.62 19.814      Normal
   SC62625                              Camelia                48              1.63 18.066 Underweight

### **6A Sorting Data Berdasarkan Tinggi Badan Secara Descending**

Buatlah variabel baru lalu urutkan data berdasarkan tinggi badan dari yang tertinggi ke rendah.

In [ ]:
# Mengurutkan data
df_sorted_by_height = df.sort_values(by='Tinggi Badan (m)', ascending=False)

# Menampilkan DataFrame yang sudah diurutkan
print(df_sorted_by_height[['No Peserta', 'Nama', 'Berat Badan (kg)', 'Tinggi Badan (m)', 'BMI', 'Status BMI']].to_string(index=False))

No Peserta                                 Nama  Berat Badan (kg)  Tinggi Badan (m)    BMI  Status BMI
   SC62622               Muhammad Ibnu Bayu Aji                90              1.80 27.778  Overweight
   SC62615      Miftakhul Hidayatullah As Sidqi                45              1.76 14.527 Underweight
   SC62602           Bramastra Dhani Haryatmaja                79              1.75 25.796  Overweight
   SC62618                 Wisesa Sat Sunyaruri                70              1.74 23.121      Normal
   SC62610    Subhan Hidayatullah Putra Abraham                63              1.73 21.050      Normal
   SC62609                        Raymon Sonata                65              1.72 21.971      Normal
   SC62607                Muhammad Rizki Shihab                65              1.70 22.491      Normal
   SC62614                    Indra Fiqi Ripani                70              1.65 25.712  Overweight
   SC62617                        Rifqi Mubarok                60              1.64 22.308      Normal
   SC62625                              Camelia                48              1.63 18.066 Underweight
   SC62605             Juwita Istiqomah Trahira                70              1.63 26.346  Overweight
   SC62624                   Sutriadi Kurniawan                52              1.62 19.814      Normal
   SC62623                    Putri Dwi Kartini                53              1.62 20.195      Normal
   SC62621              Humaira Rizqi Tridianti                53              1.61 20.447      Normal
   SC62601                   Amalia Ika Sriyani                55              1.61 21.218      Normal
   SC62612         Arvano Salma Fatimatus Zahra                50              1.55 20.812      Normal
   SC62606              Meyroja Jovancha Firoos                49              1.55 20.395      Normal
   SC62616 Ni Putu Sri Agnita Samyami Wiraputri                50              1.54 21.083      Normal
   SC62613             Emmanuela Putri Larasati                48              1.53 20.505      Normal
   SC62619                      Anisatun Nikmah                43              1.52 18.611      Normal
   SC62620                          Dela Nopita                42              1.50 18.667      Normal
   SC62604                         Gebby Yurike                43              1.50 19.111      Normal
   SC62603                         Dwi Septiana                43              1.50 19.111      Normal
   SC62608                   Nurhammasa Khalila                45              1.45 21.403      Normal
   SC62611                 Yusmaniar Afifah Nur                38              1.42 18.845      Normal

### **6B Sorting Data Berdasarkan Nama Secara Descending**

Buat variabel baru lalu urutkan data berdasarkan Nama dari Z – A.

In [ ]:
df_sorted_by_name = df.sort_values(by='Nama', ascending=False)

print(df_sorted_by_name[['No Peserta', 'Nama', 'Berat Badan (kg)', 'Tinggi Badan (m)', 'BMI', 'Status BMI']].to_string(index=False))

No Peserta                                 Nama  Berat Badan (kg)  Tinggi Badan (m)    BMI  Status BMI
   SC62611                 Yusmaniar Afifah Nur                38              1.42 18.845      Normal
   SC62618                 Wisesa Sat Sunyaruri                70              1.74 23.121      Normal
   SC62624                   Sutriadi Kurniawan                52              1.62 19.814      Normal
   SC62610    Subhan Hidayatullah Putra Abraham                63              1.73 21.050      Normal
   SC62617                        Rifqi Mubarok                60              1.64 22.308      Normal
   SC62609                        Raymon Sonata                65              1.72 21.971      Normal
   SC62623                    Putri Dwi Kartini                53              1.62 20.195      Normal
   SC62608                   Nurhammasa Khalila                45              1.45 21.403      Normal
   SC62616 Ni Putu Sri Agnita Samyami Wiraputri                50              1.54 21.083      Normal
   SC62607                Muhammad Rizki Shihab                65              1.70 22.491      Normal
   SC62622               Muhammad Ibnu Bayu Aji                90              1.80 27.778  Overweight
   SC62615      Miftakhul Hidayatullah As Sidqi                45              1.76 14.527 Underweight
   SC62606              Meyroja Jovancha Firoos                49              1.55 20.395      Normal
   SC62605             Juwita Istiqomah Trahira                70              1.63 26.346  Overweight
   SC62614                    Indra Fiqi Ripani                70              1.65 25.712  Overweight
   SC62621              Humaira Rizqi Tridianti                53              1.61 20.447      Normal
   SC62604                         Gebby Yurike                43              1.50 19.111      Normal
   SC62613             Emmanuela Putri Larasati                48              1.53 20.505      Normal
   SC62603                         Dwi Septiana                43              1.50 19.111      Normal
   SC62620                          Dela Nopita                42              1.50 18.667      Normal
   SC62625                              Camelia                48              1.63 18.066 Underweight
   SC62602           Bramastra Dhani Haryatmaja                79              1.75 25.796  Overweight
   SC62612         Arvano Salma Fatimatus Zahra                50              1.55 20.812      Normal
   SC62619                      Anisatun Nikmah                43              1.52 18.611      Normal
   SC62601                   Amalia Ika Sriyani                55              1.61 21.218      Normal

### **7A Menampilkan Data dari DataFrame Where Status BMI != Normal**

Filter dataframe df berdasarkan status BMI di luar Normal

In [ ]:
df_status_bmi_outside_normal = df[df['Status BMI'] != 'Normal']

print(df_status_bmi_outside_normal[['No Peserta', 'Nama', 'Berat Badan (kg)', 'Tinggi Badan (m)', 'BMI', 'Status BMI']].to_string(index=False))

No Peserta                            Nama  Berat Badan (kg)  Tinggi Badan (m)    BMI  Status BMI
   SC62602      Bramastra Dhani Haryatmaja                79              1.75 25.796  Overweight
   SC62605        Juwita Istiqomah Trahira                70              1.63 26.346  Overweight
   SC62614               Indra Fiqi Ripani                70              1.65 25.712  Overweight
   SC62615 Miftakhul Hidayatullah As Sidqi                45              1.76 14.527 Underweight
   SC62622          Muhammad Ibnu Bayu Aji                90              1.80 27.778  Overweight
   SC62625                         Camelia                48              1.63 18.066 Underweight

### **7B Menampilkan Data dari DataFrame Where Tinggi Badan > 169 dan Berat Badan > 60**

Filter dataframe df berdasarkan Tinggi Badan > 169 cm dan Berat Badan > 60 kg

In [ ]:
df_tinggi_berat_filter = df[(df['Tinggi Badan (cm)'] > 169) & (df['Berat Badan (kg)'] > 60)]

print(df_tinggi_berat_filter[['No Peserta', 'Nama', 'Berat Badan (kg)', 'Tinggi Badan (m)', 'BMI', 'Status BMI']].to_string(index=False))

No Peserta                              Nama  Berat Badan (kg)  Tinggi Badan (m)    BMI Status BMI
   SC62602        Bramastra Dhani Haryatmaja                79              1.75 25.796 Overweight
   SC62607             Muhammad Rizki Shihab                65              1.70 22.491     Normal
   SC62609                     Raymon Sonata                65              1.72 21.971     Normal
   SC62610 Subhan Hidayatullah Putra Abraham                63              1.73 21.050     Normal
   SC62618              Wisesa Sat Sunyaruri                70              1.74 23.121     Normal
   SC62622            Muhammad Ibnu Bayu Aji                90              1.80 27.778 Overweight

### **7C Menampilkan Data Nama dari DataFrame yang Mengandung Huruf 'y'**

Filter dataframe df berdasarkan nama yang mengandung huruf “y”

In [ ]:
df_nama_y_filter = df[df['Nama'].str.contains('y', case=False)]

if not df_nama_y_filter.empty:
  print(df_nama_y_filter[['No Peserta', 'Nama', 'Berat Badan (kg)', 'Tinggi Badan (m)', 'BMI', 'Status BMI']].to_string(index=False))
else:
  print("\nTidak ada data yang memenuhi kriteria.")

No Peserta                                 Nama  Berat Badan (kg)  Tinggi Badan (m)    BMI  Status BMI
   SC62601                   Amalia Ika Sriyani                55              1.61 21.218      Normal
   SC62602           Bramastra Dhani Haryatmaja                79              1.75 25.796  Overweight
   SC62604                         Gebby Yurike                43              1.50 19.111      Normal
   SC62606              Meyroja Jovancha Firoos                49              1.55 20.395      Normal
   SC62609                        Raymon Sonata                65              1.72 21.971      Normal
   SC62610    Subhan Hidayatullah Putra Abraham                63              1.73 21.050      Normal
   SC62611                 Yusmaniar Afifah Nur                38              1.42 18.845      Normal
   SC62615      Miftakhul Hidayatullah As Sidqi                45              1.76 14.527 Underweight
   SC62616 Ni Putu Sri Agnita Samyami Wiraputri                50              1.54 21.083      Normal
   SC62618                 Wisesa Sat Sunyaruri                70              1.74 23.121      Normal
   SC62622               Muhammad Ibnu Bayu Aji                90              1.80 27.778  Overweight

### **7D Menampilkan Data dari DataFrame Where Berat Badan < 60**

Filter dataframe df berdasarkan siapa saja yang berat badannya kurang dari 60 kg

In [ ]:
df_berat_kurang_60kg = df[df['Berat Badan (kg)'] < 60]

print(df_berat_kurang_60kg[['No Peserta', 'Nama', 'Berat Badan (kg)', 'Tinggi Badan (m)', 'BMI', 'Status BMI']].to_string(index=False))

No Peserta                                 Nama  Berat Badan (kg)  Tinggi Badan (m)    BMI  Status BMI
   SC62601                   Amalia Ika Sriyani                55              1.61 21.218      Normal
   SC62603                         Dwi Septiana                43              1.50 19.111      Normal
   SC62604                         Gebby Yurike                43              1.50 19.111      Normal
   SC62606              Meyroja Jovancha Firoos                49              1.55 20.395      Normal
   SC62608                   Nurhammasa Khalila                45              1.45 21.403      Normal
   SC62611                 Yusmaniar Afifah Nur                38              1.42 18.845      Normal
   SC62612         Arvano Salma Fatimatus Zahra                50              1.55 20.812      Normal
   SC62613             Emmanuela Putri Larasati                48              1.53 20.505      Normal
   SC62615      Miftakhul Hidayatullah As Sidqi                45              1.76 14.527 Underweight
   SC62616 Ni Putu Sri Agnita Samyami Wiraputri                50              1.54 21.083      Normal
   SC62619                      Anisatun Nikmah                43              1.52 18.611      Normal
   SC62620                          Dela Nopita                42              1.50 18.667      Normal
   SC62621              Humaira Rizqi Tridianti                53              1.61 20.447      Normal
   SC62623                    Putri Dwi Kartini                53              1.62 20.195      Normal
   SC62624                   Sutriadi Kurniawan                52              1.62 19.814      Normal
   SC62625                              Camelia                48              1.63 18.066 Underweight

### **8 Menambah Kolom Baru pada DataFrame**

8. Tambahkan nomor urut pada dataframe df sesuai jumlah siswa dan tempatkan kolom nomor baru tersebut di paling ujung kiri sebagai kolom pertama serta beri nama kolomnya “No.”!

In [ ]:
df['No.'] = range(1, len(df) + 1)

df = df[['No.'] + [col for col in df.columns if col != 'No.']]

print(df.to_string(index=False))

 No. No Peserta                                 Nama             Jurusan  Berat Badan (kg)  Tinggi Badan (cm)  Tinggi Badan (m)    BMI  Status BMI
   1    SC62601                   Amalia Ika Sriyani              Fisika                55                161              1.61 21.218      Normal
   2    SC62602           Bramastra Dhani Haryatmaja Business Management                79                175              1.75 25.796  Overweight
   3    SC62603                         Dwi Septiana          Matematika                43                150              1.50 19.111      Normal
   4    SC62604                         Gebby Yurike           Manajemen                43                150              1.50 19.111      Normal
   5    SC62605             Juwita Istiqomah Trahira   Sistem Informasi                 70                163              1.63 26.346  Overweight
   6    SC62606              Meyroja Jovancha Firoos  Teknik Informatika                49                155              1.55 20.395      Normal
   7    SC62607                Muhammad Rizki Shihab         Informatika                65                170              1.70 22.491      Normal
   8    SC62608                   Nurhammasa Khalila       Ilmu Aktuaria                45                145              1.45 21.403      Normal
   9    SC62609                        Raymon Sonata        Informatika                 65                172              1.72 21.971      Normal
  10    SC62610    Subhan Hidayatullah Putra Abraham  Teknik Informatika                63                173              1.73 21.050      Normal
  11    SC62611                 Yusmaniar Afifah Nur                PGSD                38                142              1.42 18.845      Normal
  12    SC62612         Arvano Salma Fatimatus Zahra   Sistem Informasi                 50                155              1.55 20.812      Normal
  13    SC62613             Emmanuela Putri Larasati          Statistika                48                153              1.53 20.505      Normal
  14    SC62614                    Indra Fiqi Ripani  Teknik Informatika                70                165              1.65 25.712  Overweight
  15    SC62615      Miftakhul Hidayatullah As Sidqi      Teknik Elektro                45                176              1.76 14.527 Underweight
  16    SC62616 Ni Putu Sri Agnita Samyami Wiraputri  Teknik Informatika                50                154              1.54 21.083      Normal
  17    SC62617                        Rifqi Mubarok    Sistem Informasi                60                164              1.64 22.308      Normal
  18    SC62618                 Wisesa Sat Sunyaruri Teknik Informatika                 70                174              1.74 23.121      Normal
  19    SC62619                      Anisatun Nikmah         Statistika                 43                152              1.52 18.611      Normal
  20    SC62620                          Dela Nopita          Matematika                42                150              1.50 18.667      Normal
  21    SC62621              Humaira Rizqi Tridianti          Matematika                53                161              1.61 20.447      Normal
  22    SC62622               Muhammad Ibnu Bayu Aji          Statistika                90                180              1.80 27.778  Overweight
  23    SC62623                    Putri Dwi Kartini           Akuntansi                53                162              1.62 20.195      Normal
  24    SC62624                   Sutriadi Kurniawan          Matematika                52                162              1.62 19.814      Normal
  25    SC62625                              Camelia           Manajemen                48                163              1.63 18.066 Underweight

### **9A Menampilkan Nilai Tertinggi dan Terendah dari TB, BB, dan BMI**

Cari nilai terendah dan tertingginya

In [ ]:
tinggi_badan_min = df['Tinggi Badan (cm)'].min()
tinggi_badan_max = df['Tinggi Badan (cm)'].max()

print(f"Nilai terendah tinggi badan  : {tinggi_badan_min} cm")
print(f"Nilai tertinggi tinggi badan : {tinggi_badan_max} cm")

berat_badan_min = df['Berat Badan (kg)'].min()
berat_badan_max = df['Berat Badan (kg)'].max()

print(f"\nNilai terendah berat badan  : {berat_badan_min} kg")
print(f"Nilai tertinggi berat badan : {berat_badan_max} kg")

BMI_min = df['BMI'].min()
BMI_max = df['BMI'].max()

print(f"\nNilai terendah BMI  : {BMI_min}")
print(f"Nilai tertinggi BMI : {BMI_max}")

Nilai terendah tinggi badan  : 142 cm
Nilai tertinggi tinggi badan : 180 cm

Nilai terendah berat badan  : 38 kg
Nilai tertinggi berat badan : 90 kg

Nilai terendah BMI  : 14.527
Nilai tertinggi BMI : 27.778

### **9B Menghitung Rata-Rata Tinggi Badan**

Berapa nilai rata-rata tinggi badan siswa?

In [ ]:
rata_rata_tinggi_badan = df['Tinggi Badan (cm)'].mean()

print(f"Rata-rata tinggi badan : {rata_rata_tinggi_badan:.2f} cm")

Rata-rata tinggi badan : 161.08 cm

### **9C Menghitung Rata-Rata Berat Badan**

Berapa rata-rata berat badan siswa?

In [ ]:
rata_rata_berat_badan = df['Berat Badan (kg)'].mean()

print(f"Rata-rata berat badan : {rata_rata_berat_badan:.2f} kg")

Rata-rata berat badan : 55.56 kg

### **9D Menampilkan Jumlah Siswa yang Ada pada DataFrame**

Ada berapa orang jumlah siswa  yang tercatat pada dataframe df?

In [ ]:
jumlah_siswa = len(df)

print(f"Jumlah yang tercatat adalah sebanyak : {jumlah_siswa}")

Jumlah yang tercatat adalah sebanyak : 25

### **9E Menampilkan 5 Siswa dengan BMI Tertinggi**

5 orang dengan nilai BMI tertinggi

In [ ]:
top5_bmi = df.nlargest(5, 'BMI')

print(top5_bmi[['No Peserta', 'Nama', 'Berat Badan (kg)', 'Tinggi Badan (m)', 'BMI', 'Status BMI']].to_string(index=False))

No Peserta                       Nama  Berat Badan (kg)  Tinggi Badan (m)    BMI Status BMI
   SC62622     Muhammad Ibnu Bayu Aji                90              1.80 27.778 Overweight
   SC62605   Juwita Istiqomah Trahira                70              1.63 26.346 Overweight
   SC62602 Bramastra Dhani Haryatmaja                79              1.75 25.796 Overweight
   SC62614          Indra Fiqi Ripani                70              1.65 25.712 Overweight
   SC62618       Wisesa Sat Sunyaruri                70              1.74 23.121     Normal

### **9F Menghitung Jumlah Siswa yang Terklasifikasi ke Dalam Status BMI Tertentu**

Ada berapa orang yang tergolong status Underweight, Normal, Overweight, dan Obesity?

In [ ]:
count_status_bmi = df['Status BMI'].value_counts()

print(count_status_bmi)

Normal         19
Overweight      4
Underweight     2
Obesity         0
Name: Status BMI, dtype: int64

### **SOAL 2**

Perusahaan Investasi Jamin-Sugih Co kami memberikan penawaran investasi terbaik dengan pembagian keuntungan tetap sebesar 25% setiap tahun.

Buatlah program Python yang dapat menerima input dari pengguna dalam bentuk:
Modal Investasi (bilangan bulat antara 0 - 1.000.000.000)
Jangka Waktu Investasi (bilangan bulat antara 1 - 25 dalam tahun)
Selain itu, program akan menampilkan error message bahwa modal atau tenure tidak sesuai ketentuan.

Program akan menampilkan informasi akumulasi investasi setiap tahun, menggunakan iterasi untuk setiap tahun.

In [ ]:
from babel.numbers import format_currency

def hitung_investasi(modal, tenur):
    persentase_keuntungan = 25

    for tahun in range(1, tenur + 1):
        total_investasi = modal * (1 + persentase_keuntungan / 100) ** tahun
        formatted_investasi = format_currency(total_investasi, 'IDR', locale='id_ID')
        print(f"Tahun {tahun}, total investasi : {formatted_investasi}")

while True:
    try:
        modal = int(input("Modal Investasi (0 - 1.000.000.000) : "))
        if 0 <= modal <= 1000000000:
            break
        else:
            print("Error: Modal investasi harus antara 0 dan 1.000.000.000.")
    except ValueError:
        print("Error: Input harus berupa bilangan bulat.")

while True:
    try:
        tenur = int(input("Jangka Waktu Investasi (1 - 25 tahun) : "))
        if 0 < tenur <= 25:
            break
        else:
            print("Error: Jangka waktu investasi harus antara 1 dan 25 tahun.")
    except ValueError:
        print("Error: Input harus berupa bilangan bulat.")

hitung_investasi(modal, tenur)

Modal Investasi (0 - 1.000.000.000) : 5000000
Jangka Waktu Investasi (1 - 25 tahun) : 20
Tahun 1, total investasi : Rp6.250.000,00
Tahun 2, total investasi : Rp7.812.500,00
Tahun 3, total investasi : Rp9.765.625,00
Tahun 4, total investasi : Rp12.207.031,25
Tahun 5, total investasi : Rp15.258.789,06
Tahun 6, total investasi : Rp19.073.486,33
Tahun 7, total investasi : Rp23.841.857,91
Tahun 8, total investasi : Rp29.802.322,39
Tahun 9, total investasi : Rp37.252.902,98
Tahun 10, total investasi : Rp46.566.128,73
Tahun 11, total investasi : Rp58.207.660,91
Tahun 12, total investasi : Rp72.759.576,14
Tahun 13, total investasi : Rp90.949.470,18
Tahun 14, total investasi : Rp113.686.837,72
Tahun 15, total investasi : Rp142.108.547,15
Tahun 16, total investasi : Rp177.635.683,94
Tahun 17, total investasi : Rp222.044.604,93
Tahun 18, total investasi : Rp277.555.756,16
Tahun 19, total investasi : Rp346.944.695,20
Tahun 20, total investasi : Rp433.680.868,99